body {
    background: black;
    color: white;
    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1 {
    font-family: "Helvetica", "sans-serif";
}

.ball {
    background: white;
    position: absolute;
    left: -100px;
    height: 20px;
    width: 20px;
    margin: -10px -10px;
    border-radius: 10px;
    
    -webkit-transition-property: all;
    -webkit-transition-duration: 50ms;
    -webkit-transition-timing-function: ease-in-out;
}

.ball.click {
    height: 40px;
    width: 40px;
    margin: -20px -20px;
    border-radius: 20px;
}

#chat_input {
    left: -1000px;
    top: -1000px;
    width: 150px;
    height: 18px;
    padding: 4px 0;
    position: absolute;
}

.chat_out {
    width: 170px;
    height: 70px;
    overflow: auto;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #eee;
}

.chat_msg {
    font-family: Arial;
    font-size: 12px;
    padding: 2px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: 800;
}

.user_img {
    position: absolute;
    border-radius: 3px;
}